﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.reports.schedules_room.index">
    <div class="row sweb-report-grid">
        <h3>@L("Menu_Reports_Schedules_Room")</h3>
        <hr />
        <table class="form-sas" ng-if="parameterSelection">
            <tr>
                <td>
                    <label>@L("Reports_Schedules_Room")</label>
                </td>
                <td>
                    <div style="width: 100%" class="input-group input-group-sm sweb-utils-cursor-hand" uib-dropdown uib-dropdown-toggle>
                        <div class="form-control inpt-sm">{{roomModel.selected.name}}</div>
                        <ul class="dropdown-menu dropdown-menu-standard sweb-utils-dorpdown-limit" style="width: 100%">
                            <li ng-repeat="room in roomModel.list">
                                <a class="sweb-utils-cursor-hand" ng-click="roomModel.selected=room">
                                    <span>{{room.name}}</span>
                                </a>
                            </li>
                        </ul>
                        <span class="input-group-btn">
                            <button type="button" data-ng-click="opened=false" class="btn btn-primary"><i class="fa fa-caret-down sweb-utils-drop-down-btn"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@L("schedule_start_date")</label>
                </td>
                <td>
                    <div class="input-group date"
                         style="width: 100%"
                         date-time-picker
                         format="@L("DateTimeFormat")"
                         language="{{L.language}}"
                         ng-model="model.startDate"
                         ng-change="validate()">
                        <input type="text" class="form-control">
                        <span class="input-group-addon btn btn-default addon-inpt-background"><span class="fa fa-calendar"></span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@L("schedule_end_date")</label>
                </td>
                <td>
                    <div class="input-group date"
                         style="width: 100%"
                         date-time-picker
                         format="@L("DateTimeFormat")"
                         language="{{L.language}}"
                         ng-model="model.endDate"
                         ng-change="validate()">
                        <input type="text" class="form-control">
                        <span class="input-group-addon btn btn-default addon-inpt-background"><span class="fa fa-calendar"></span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr/>
                    <h5 ng-if="disableSave" style="color: red">@L("Error_Date_StartDate_EndDate")</h5>
                    <hr ng-if="disableSave" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary blue pull-right" ng-disabled="disableSave" ng-click="loadReport()"><i class="fa fa-bar-chart"></i> <span>@L("Reports_LoadReport")</span></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" ng-if="!parameterSelection">
        <div class="col-md-12" ng-include="'/App/Main/views/report/schedule_result.cshtml'" ng-init="ReportName='@L("Menu_Reports_Schedules_Room")'">
        </div>
    </div>
</div>