﻿/* Application specific styles */

body {
    padding-top: 80px;
}

/* Styles for angular ui transition animations */

.angular-animation-container {
    position: relative;
}

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: absolute;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;

    &.ng-enter-active {
        left: 0;
        opacity: 1;
    }
}

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;

    &.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
}

.sweb-report-grid >h3 {
    text-align: center;margin-top: 20px;margin-bottom: 10px; font-weight: bold
}
.sweb-report-grid > table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    min-width: 410px;
}
table.form-bossCreationKey > tbody > tr > td {
    padding: 2px;
}
.sweb-checkbox input {
    display: none;
}
.sweb-checkbox .icon {
    text-align: center;
    width: 15px;
    height: 15px;
    display: inline-block;
    color: #333333 !important;
    border: 1px solid;
    border-color: gray;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}
    .sweb-checkbox .icon .fa {
        visibility: hidden;
    }
.sweb-checkbox input:checked + .icon .fa {
    visibility: visible;
}
.sweb-checkbox input:disabled + .icon .fa {
    visibility: visible;
    background-color:lightgray;
}
.sweb-checkbox input:disabled + .icon .ck-disabled {
    width:12px;
    height:12px;
}

.sweb-radio input {
    display: none;
}

.sweb-radio .icon {
    font-size: 16px;
    margin-right: 5px;
}

.dropdown-menu>li>a {
    text-decoration: none !important;
}

.sweb-utils-dorpdown-limit
{
    overflow-y: scroll;
    max-height:300px;
}

@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none !important;
    }
}
