﻿@using Abp.Web.Mvc.Extensions
@model RemoteLock.Web.Models.Account.PasswordConfirmViewModel
@{
    ViewBag.Title = "ConfirmPasswordReset";
}
@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12" id="LoginInput">
            @Html.Partial("_EntranceLogo")
            <div class="well bs-component">
                <form class="form-horizontal" action="@(Url.Action("ChangePassword", "Account"))" method="POST">
                    <fieldset>
                        <legend>@L("change_password_dialog")</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="@L("change_password_new")" required maxlength="@RemoteLock.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>
                        <input type="text" style="display: none" class="form-control" id="PasswordResetCode" name="PasswordResetCode" value="@Model.PasswordResetCode">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" id="ConfirmPassword" name="ConfirmPassword" value="@Model.ConfirmPassword" placeholder="@L("change_password_new_confirm")" required maxlength="@RemoteLock.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" id="Change" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("change_password_change")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>