﻿@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model RemoteLock.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}
<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12" id="LoginInput">
            @Html.Partial("_EntranceLogo")
            <div class="well bs-component">
                <form id="LoginForm" class="form-horizontal" action="@(Url.Action("Login", "Account"))?returnUrl=@(Model.ReturnUrl)" method="POST">
                    <fieldset>
                        <legend>@L("LogIn")</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" id="EmailAddressInput" placeholder="@L("UserNameOrEmail")" required maxlength="@RemoteLock.Users.User.MaxEmailAddressLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" id="PasswordInput" placeholder="@L("Password")" required maxlength="@RemoteLock.Users.User.MaxPlainPasswordLength">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="RememberMeInput">
                                        <span class="ripple"></span>
                                        <span class="check"></span> @L("RememberMe")
                                    </label>
                                </div>
                            </div>
                        </div>

                        <input id="ReturnUrlHash" type="hidden" name="returnUrlHash"/>

                        <div class="form-group">
                            <div class="col-md-6">
                                <button id="LoginButton" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("LogIn")</button>
                            </div>
                            <div class="col-md-6" style="margin-top: 8px">
                                <a href="@Url.Action("PasswordReset")">@L("Account_PasswordReset_Title")</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-12" style="display: none" id="LoginTenantSelection">
            @Html.Partial("_EntranceLogo")
            <div class="well bs-component">
                <fieldset>
                    <legend>@L("TenantSelection")</legend>
                    <div class="form-group form-md-radios">
                        <div class="md-radio-list">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button id="LoginButtonTenant" class="btn btn-primary pull-left"><i class="fa fa-sign-in"></i> @L("LogIn")</button>

                            <button id="CancelButton" class="btn btn-danger pull-right"><i class="fa fa-arrow-circle-o-left"></i> @L("Cancel")</button>
                        </div>
                    </div>
                </fieldset>
            </div>
           </div>
    </div>
</div>