﻿@using Abp.Web.Mvc.Extensions
@model RemoteLock.Web.Models.Account.PasswordResetViewModel
@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/PasswordReset.js")
}
<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12" id="LoginInput" >
            <div class="well bs-component">
                <form class="form-horizontal" action="@(Url.Action("PasswordReset", "Account"))" method="POST">
                    <fieldset>
                        <legend>@L("Account_PasswordReset_Title")</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" value="@Model.EmailAddress" placeholder="@L("EmailAddress")" required maxlength="@RemoteLock.Users.User.MaxNameLength">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" id="ResetButton" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("Account_PasswordReset_ResetAction")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-12" style="display: none" id="LoginTenantSelection">
            @Html.Partial("_EntranceLogo")
            <div class="well bs-component">
                <fieldset>
                    <legend>@L("TenantSelection")</legend>
                    <div class="form-group form-md-radios">
                        <div class="md-radio-list">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button id="ResetButtonTenant" class="btn btn-primary pull-left"><i class="fa fa-sign-in"></i> @L("Account_PasswordReset_ResetAction")</button>

                            <button id="CancelButton" class="btn btn-danger pull-right"><i class="fa fa-arrow-circle-o-left"></i> @L("Cancel")</button>
                        </div>
                        <div class="col-lg-12">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-12" style="display: none" id="Success">
            @Html.Partial("_EntranceLogo")
            <div class="well bs-component">
                <div id="ResultMessage" data-loc="@L("Account_PasswordReset_Result")"> </div>
            </div>
        </div>
    </div>
</div>