﻿@model RemoteLock.Web.Models.Account.RegisterTenantViewModel
<div class="container entrance-container">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_EntranceLogo")
            <div class="well bs-component">
                <form class="form-horizontal" action="@(Url.Action("RegisterTenant", "Account"))" method="POST">
                    <fieldset>
                        <legend>Add company</legend>

                        @if (@ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="TenancyName" placeholder="@L("TenancyName")" value="@Model.TenancyName" required maxlength="@RemoteLock.MultiTenancy.Tenant.MaxTenancyNameLength">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@L("BecomeATenant_AdminDetails")</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="@L("Name")" required maxlength="@RemoteLock.Users.User.MaxNameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="Surname" value="@Model.Surname" placeholder="@L("Surname")" required maxlength="@RemoteLock.Users.User.MaxSurnameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" placeholder="@L("EmailAddress")" required maxlength="@RemoteLock.Users.User.MaxEmailAddressLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" name="Password" placeholder="@L("Password")" value="@Model.Password" required maxlength="@RemoteLock.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" name="ConfirmPassword" placeholder="@L("ConfirmPassword")" value="@Model.ConfirmPassword" required maxlength="@RemoteLock.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Add company Key</legend>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" name="bossCreationKey" value="@Model.bossCreationKey" placeholder="Add company Key" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" id="RegisterButton" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("CreateTheTenant")</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>