﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-if="!IsEdit">@L("rooms_add_title")</span>
            <span ng-if="IsEdit">@L("rooms_edit_title")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("rooms_model_name")</label>
            <input type="text" class="form-control input-sm" ng-model="model.name" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("rooms_model_address")</label>
            <input type="text" class="form-control input-sm" ng-model="model.address" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("rooms_model_description")</label>
            <input type="text" class="form-control input-sm" ng-model="model.description" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("rooms_model_deviceId")</label>
            <input type="text" placeholder="0A-0A-0A-0A-0A-0A" class="form-control input-sm" ng-model="model.deviceId" ng-change="validate()">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" ng-disabled="disableSave" class="btn btn-primary blue" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    </div>
</div>