﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.rooms.index as vm">
    <h1>@L("Menu_Rooms")</h1>
    <button class="btn btn-primary blue" ng-click="vm.openNewRoomDialog()"><i class="fa fa-plus"></i>&nbsp;@L("rooms_add_button")</button>
    <div class="row">
        <div class="col-md-12">
            @*<label class="sweb-checkbox">
                <input type="checkbox"
                       data-ng-model="showSuspendedrooms"
                       class="sweb-utils-vertical-top sweb-utils-display-none" />
                <span class="icon sweb-utils-cursor-default"><i class="fa fa-check"></i></span>
            </label>
            <span>@L("show_suspended_rooms")</span>*@
            <input ng-model="flt" placeholder="@L("filter_placeholder")" style="width: 100%; margin-top: 10px;"/>
            <table class="table">
                <thead>
                <tr>
                    <th>@L("rooms_model_name")</th>
                    <th>@L("rooms_model_address")</th>
                    <th>@L("rooms_model_description")</th>
                    <th>@L("rooms_model_deviceId")</th>
                    <th>@L("rooms_model_install_date")</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="room in vm.rooms | filter:flt | orderBy:'name'" ng-if="!vehicle.disabled || showSuspendedrooms">
                    <td>{{room.disabled?room.name +'@L("rooms_suspended_suffix")':room.name}}</td>
                    <td>{{room.address}}</td>
                    <td>{{room.description}}</td>
                    <td>{{room.deviceId}}</td>
                    <td>{{room.installDate}}</td>
                    <td><button ng-click="vm.edit(room)" class="btn btn-primary blue"><i class="fa fa-pencil"></i>&nbsp;@L("room_detail")</button></td>
                    <td>
                        <button ng-disabled="room.deviceId.length == 0" class="btn btn-success blue" ng-click="vm.getCodes(room)">@L("room_get_today_codes")</button>
                    </td>
                    <td><button ng-click="vm.delete(room)" class="btn btn-danger"><i class="fa fa-remove"></i>&nbsp;@L("global_delete")</button></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>