﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("rooms_Codes")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <span>@L("rooms_MorningCode")</span> :
            <label>{{cod.morningCode}}</label>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <span>@L("rooms_EveningCode")</span> :
            <label>{{cod.eveningCode}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">@L("Common_OK")</button>
    </div>
</div>