﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.reports.schedules_company.index">
    <div class="row sweb-report-grid">
        <h3>@L("Menu_Reports_Schedules_Fleet")</h3>
        <hr />
        <table class="form-sas" ng-if="parameterSelection">
            <tr>
                <td>
                    <label>@L("schedule_start_date")</label>
                </td>
                <td>
                    <div class="input-group date"
                         style="width: 100%"
                         date-time-picker
                         format="@L("DateTimeFormat")"
                         language="{{L.language}}"
                         ng-model="model.startDate"
                         ng-change="validate()">
                        <input type="text" class="form-control">
                        <span class="input-group-addon btn btn-default addon-inpt-background"><span class="fa fa-calendar"></span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@L("schedule_end_date")</label>
                </td>
                <td>
                    <div class="input-group date"
                         style="width: 100%"
                         date-time-picker
                         format="@L("DateTimeFormat")"
                         language="{{L.language}}"
                         ng-model="model.endDate"
                         ng-change="validate()">
                        <input type="text" class="form-control">
                        <span class="input-group-addon btn btn-default addon-inpt-background"><span class="fa fa-calendar"></span></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr/>
                    <h5 ng-if="disableSave" style="color: red">@L("Error_Date_StartDate_EndDate")</h5>
                    <hr ng-if="disableSave" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary blue pull-right" ng-disabled="disableSave" ng-click="loadReport()"><i class="fa fa-bar-chart"></i> <span>@L("Reports_LoadReport")</span></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" ng-if="!parameterSelection">
        <div class="col-md-12" ng-include="'/App/Main/views/report/schedule_result.cshtml'"  ng-init="ReportName='@L("Menu_Reports_Schedules_Fleet")'">
        </div>
    </div>
</div>