﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("change_password_dialog")</span>
        </h4>
    </div>
    <div class="modal-body" ng-if="!ctrl.changed">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("change_password_old")</label>
            <input type="password" class="form-control" ng-model="model.oldPassword" ng-change="validate()">
            <h6 ng-if="ctrl.showError" style="color: red">@L("change_password_fail")</h6>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("change_password_new")</label>
            <input type="password" class="form-control" ng-model="model.newPassword" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("change_password_new_confirm")</label>
            <input type="password" class="form-control" ng-model="ctrl.confirmPassword" ng-change="validate()">
        </div>
    </div>
    <div class="modal-body" ng-if="ctrl.changed">
        <h5 style="color:green"><i class="fa fa-check"></i> @L("change_password_success")</h5>
    </div>
    <div class="modal-footer">
        <button ng-if="!ctrl.changed" type="button" class="btn btn-danger" ng-click="close()">@L("Cancel")</button>
        <button ng-if="!ctrl.changed" type="submit" ng-disabled="!ctrl.validate" class="btn btn-primary blue" ng-click="change()"><i class="fa fa-save"></i> <span>@L("change_password_change")</span></button>

        <button ng-if="ctrl.changed" type="button" class="btn btn-default" ng-click="close()">@L("Common_OK")</button>
    </div>
</div>