﻿@*@functions {
    public Web.ReportExportModel Model { get; private set; }
}*@
<!DOCTYPE html>
<html>
<head>
    <style>
        .sweb-title {font-family: Segoe UI Verdana, Helvetica, sans-serif; font-size: 20px; margin: 20px;margin-left: 0px}
        .sweb-tbody> tr:nth-child(odd) { background-color:#eaeae3 }
        .sweb-tbody> tr:nth-child(even) { background-color:#CBCABB; }
        .sweb-tbody> tr > td {padding: 5px 5px 5px 2px;border: 1px solid #BAB9AA; border-bottom: none;border-top: none;color: #242500}

        .sweb-header-row > th { background-color: #bbbaa8;text-align: left; padding-left: 2px;padding-right: 5px;border: 0px;padding-bottom: 10px; padding-top: 10px}
    </style>
</head>
<body>
<div class="sweb-title">
    @Model.name
</div>
<table cellspacing="0" cellpadding="0" width="100%" height="100%" border="0" style="font-family: Segoe UI, Verdana, Helvetica, sans-serif; font-size: 12px; white-space: nowrap">
    <tbody>
    <tr class="sweb-header-row">
        @for (int i = 0; i < Model.headerStrings.Length; i++)
        {
            <th>@Model.headerStrings[i]</th>
        }
    </tr>
    </tbody>
    <tbody class="sweb-tbody">
    @for (int r = 0; r < Model.data.Length; r++)
    {
        <tr>
            @for (int c = 0; c < Model.data[r].Length; c++)
            {
                <td>@Model.data[r][c]</td>
            }
        </tr>
    }
    </tbody>
</table>
</body>
</html>