﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.tenants.index as vm">
    <h1>@L("Tenants")</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Data adaugare</th>
                    <th>@L("TenancyName")</th>
                    <th>@L("Name")</th>
                    <th>Activ</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tenant in vm.tenants | orderBy:'creationTime' ">
                    <td>{{tenant.creationTime | date: "@L("DateTimeFormatAngular")"}}</td>
                    <td>{{tenant.tenancyName}}</td>
                    <td>{{tenant.name}}</td>
                    <td>{{tenant.isActive}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>