﻿@using Abp.Web.Mvc.Extensions
@model RemoteLock.Web.Models.Account.PasswordResetTemplateModel

<div>
    <h4>@L("Account_PasswordReset_Email_Body_Greating"), @Model.DisplayName</h4>

    <div>
        @L("Account_PasswordReset_Email_Body_Content_Start") <a href="@Model.PasswordResetLink">@L("Account_PasswordReset_Email_Body_Link")</a> !
    </div>
    <div>
        @L("Account_PasswordReset_Email_Body_Content_Warning")
    </div>
</div>