﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-if="!ctrl.IsEdit">@L("locations_add_title")</span>
            <span ng-if="ctrl.IsEdit">@L("locations_update_title")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("locations_model_name")</label>
            <input type="text" class="form-control" ng-change="validate()" ng-model="model.name">
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("locations_model_address")</label>
            <input type="text" class="form-control" ng-change="validate()" ng-model="model.address">
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("locations_model_description")</label>
            <input type="text" class="form-control" ng-change="validate()" ng-model="model.description">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" class="btn btn-primary blue" ng-disabled="!ctrl.validate" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    </div>
</div>