﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.locations.index as vm">
    <h1>@L("Menu_Locations")</h1>
    <button class="btn btn-primary blue" ng-click="vm.OpenAddNewLocationDialog()"><i class="fa fa-plus"></i>&nbsp;@L("locations_add_button")</button>
    <div class="row">
        <div class="col-md-12">
            <input ng-model="flt" placeholder="@L("filter_placeholder")" style="width: 100%; margin-top: 10px;" />
            <table class="table">
                <thead>
                <tr>
                    <th>@L("locations_model_name")</th>
                    <th>@L("locations_model_address")</th>
                    <th>@L("locations_model_description")</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="location in vm.locations | filter:flt | orderBy:'name'">
                    <td>{{location.name}}</td>
                    <td>{{location.address}}</td>
                    <td>{{location.description}}</td>
                    <td><button ng-click="vm.edit(location)" class="btn btn-primary blue"><i class="fa fa-pencil"></i>&nbsp;@L("locations_detail")</button></td>
                    <td><button ng-click="vm.delete(location)" class="btn btn-danger"><i class="fa fa-remove"></i>&nbsp;@L("locations_delete")</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>