﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.settings.index as vm">
    <h1>@L("Menu_Settings")</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>@L("settings_company")</h3>
            <hr/>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("settings_company_phone")</label>
                <input type="text" class="form-control" ng-model="vm.model.phone">
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("settings_company_email")</label>
                <input type="text" class="form-control" ng-model="vm.model.email">
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("settings_company_name")</label>
                <input type="text" class="form-control" ng-model="vm.model.name">
            </div>
            <button class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </div>
</div>