﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.roles.index as vm">
    <h1>@L("roles_roles")</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>@L("roles_role")</th>
                    <th>@L("roles_permissions")</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="roles in vm.roles | orderBy:'roleName' ">
                    <td>{{roles.roleName}}</td>
                    <td>{{roles.grantedPermissionNames}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <h3>@L("roles_update")</h3>
    <hr/>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("roles_role")</label>
                <div class="input-group input-group-sm sweb-utils-cursor-hand" uib-dropdown uib-dropdown-toggle>
                    <div class="form-control inpt-sm">{{vm.selectedRole.roleName}}</div>
                    <ul class="dropdown-menu dropdown-menu-standard sweb-utils-dorpdown-limit" style="width: 100%">
                        <li ng-repeat="role in vm.roles">
                            <a class="sweb-utils-cursor-hand" ng-click="vm.selectedRole=role;">
                                <span>{{role.roleName}}</span>
                            </a>
                        </li>
                    </ul>
                    <span class="input-group-btn">
                        <button type="button" data-ng-click="opened=false" class="btn btn-primary"><i class="fa fa-caret-down sweb-utils-drop-down-btn"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("roles_permission")</label>
                <div class="input-group input-group-sm sweb-utils-cursor-hand" uib-dropdown uib-dropdown-toggle>
                    <div class="form-control inpt-sm">{{vm.selectedPerm}}</div>
                    <ul class="dropdown-menu dropdown-menu-standard sweb-utils-dorpdown-limit" style="width: 100%">
                        <li ng-repeat="perm in vm.permissions">
                            <a class="sweb-utils-cursor-hand" ng-click="vm.selectedPerm=perm;">
                                <span>{{perm}}</span>
                            </a>
                        </li>
                    </ul>
                    <span class="input-group-btn">
                        <button type="button" data-ng-click="opened=false" class="btn btn-primary"><i class="fa fa-caret-down sweb-utils-drop-down-btn"></i></button>
                    </span>
                </div>
            </div>
            <di>
                <button ng-click="vm.grant()" class="btn btn-primary"> @L("roles_grant")</button>
                <button ng-click="vm.prohibit()" class="btn btn-danger"> @L("roles_prohibit")</button>
            </di>
        </div>
    </div>
</div>