﻿@using RemoteLock.Web.Views
<div ng-init="util.allTranslations='@L("vehicles_all")'">
    <div class="modal-header">
        <h4 class="modal-title">
            <span ng-if="!ctrl.hideEmailAndPass">@L("users_add_title")</span>
            <span ng-if="ctrl.hideEmailAndPass">@L("users_update_title")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div ng-if="model.isORM" class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("UserNameOrEmail")<i ng-hide="ctrl.hideEmailAndPass" ng-if="ctrl.showGreenUsername" style="color: green" class="fa fa-check"></i><i ng-hide="ctrl.hideEmailAndPass" ng-if="ctrl.showRedUsername" style="color: red" class="fa fa-close"></i></label>
            <input type="text" class="form-control" ng-disabled="ctrl.hideEmailAndPass" ng-model="model.username" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("users_first_name")</label>
            <input type="text" class="form-control" ng-model="model.name" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("users_last_name")</label>
            <input type="text" class="form-control" ng-model="model.surname" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("users_email")<i ng-hide="ctrl.hideEmailAndPass" ng-if="ctrl.showGreen" style="color: green" class="fa fa-check"></i><i ng-hide="ctrl.hideEmailAndPass" ng-if="ctrl.showRed" style="color: red" class="fa fa-close"></i></label>
            <input type="text" class="form-control" ng-disabled="ctrl.hideEmailAndPass" ng-model="model.emailAddress" ng-change="validate()">

        </div>
        <div ng-hide="ctrl.hideEmailAndPass" class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("users_add_password")</label>
            <input type="password" class="form-control" ng-model="model.password" ng-change="validate()">
        </div>
        <div ng-hide="ctrl.hideEmailAndPass" class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("users_add_password_confirm")</label>
            <input type="password" class="form-control" ng-model="ctrl.confirmPassword" ng-change="validate()">
        </div>
        <div ng-if="model.isORM" class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("index_status")</label>
            <div class="input-group input-group-sm sweb-utils-cursor-hand" uib-dropdown uib-dropdown-toggle>
                <div class="form-control inpt-sm">{{model.userType==null?'@L("index_status_activ")':'@L("index_status_contractor")'}}</div>
                <ul class="dropdown-menu dropdown-menu-standard sweb-utils-dorpdown-limit" style="width: 100%">
                    <li>
                        <a class="sweb-utils-cursor-hand" ng-click="model.userType=null">
                            <span>@L("index_status_activ")</span>
                        </a>
                        <a class="sweb-utils-cursor-hand" ng-click="model.userType=1">
                            <span>@L("index_status_contractor")</span>
                        </a>
                    </li>
                </ul>
                <span class="input-group-btn">
                    <button type="button" data-ng-click="opened=false" class="btn btn-primary"><i class="fa fa-caret-down sweb-utils-drop-down-btn"></i></button>
                </span>
            </div>
        </div>

        <div ng-hide="ctrl.hideManagement" class="form-group form-md-line-input form-md-floating-label no-hint">
            <label class="sweb-checkbox">
                <input type="checkbox"
                       data-ng-model="model.isManager"
                       class="sweb-utils-vertical-top sweb-utils-display-none"/>
                <span class="icon sweb-utils-cursor-default"><i class="fa fa-check"></i></span>
            </label>
            <span>@L("users_isManager")</span>
        </div>
        <div ng-hide="ctrl.hideManagement || !ctrl.showORMCheckBox" class="form-group form-md-line-input form-md-floating-label no-hint">
            <label class="sweb-checkbox">
                <input type="checkbox"
                       data-ng-model="model.isORM"
                       class="sweb-utils-vertical-top sweb-utils-display-none"/>
                <span class="icon sweb-utils-cursor-default"><i class="fa fa-check"></i></span>
            </label>
            <span>@L("users_manager_index_km")</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" ng-disabled="!ctrl.validate" class="btn btn-primary blue" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        <button type="button" ng-if="ctrl.showResetPassword && ctrl.hideEmailAndPass && !ctrl.hideManagement" class="btn btn-warning blue" ng-click="reset()"><i class="fa fa-refresh"></i> <span>@L("users_reset_password")</span></button>
        <div style="display: inline-block; color: orange; font-weight: bold" ng-if="!ctrl.showResetPassword && ctrl.hideEmailAndPass  && !ctrl.hideManagement" >@L("password_reset_result")</div>
    </div>
</div>