﻿@using RemoteLock.Web.Views
<div ng-init="util.allTranslations='@L("vehicles_all")'">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("users_file_upload_modal_title")</span>
        </h4>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th>@L("UserNameOrEmail")</th>
                    <th>@L("users_first_name")</th>
                    <th>@L("users_last_name")</th>
                    <th>@L("users_email")</th>
                    <th>@L("users_add_password")</th>
                    <th>@L("users_file_upload_modal_saved")</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in csv.result ">
                    <td>{{user.utilizator}}<label><i ng-if="user.isUserNameValid" style="color: green" class="fa fa-check"></i><i ng-if="!user.isUserNameValid" style="color: red" class="fa fa-close"></i></label></td>
                    <td>{{user.nume}}</td>
                    <td>{{user.prenume}}</td>
                    <td>{{user.email}}<label><i ng-if="user.isEmailValid" style="color: green" class="fa fa-check"></i><i ng-if="!user.isEmailValid" style="color: red" class="fa fa-close"></i></label></td>
                    <td>{{user.parola}}</td>
                    <td><label><i ng-if="user.isUserCreated" style="color: green" class="fa fa-check"></i></label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" ng-disabled="!isValid" class="btn btn-primary blue" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    </div>
</div>