﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.users.index as vm">
    <h1>@L("Menu_RemoteUsers")</h1>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary blue" ng-click="vm.openNewUserDialog()"><i class="fa fa-plus"></i>&nbsp;@L("users_add")</button>
            <ng-csv-import ng-if="vm.isORM" 
                           class="import" 
                           content="vm.csv.content"
                           header="vm.csv.header"
                           header-visible="vm.csv.headerVisible"
                           separator="vm.csv.separator"
                           separator-visible="vm.csv.separatorVisible"
                           result="vm.csv.result"
                           encoding="vm.csv.encoding"
                           encoding-visible="vm.csv.encodingVisible"
                           upload-button-label="'@L("users_file_upload")'"
                           accept="vm.csv.accept"
                           callback="vm.csv.callback"></ng-csv-import>
        </div>
        <div class="col-md-12">
            <input ng-model="flt" placeholder="@L("filter_placeholder")" style="width: 100%; margin-top: 10px;"/>
            <table class="table">
                <thead>
                <tr>
                    <th ng-if="vm.isORM">@L("UserNameOrEmail")</th>
                    <th>@L("Name")</th>
                    <th>@L("Surname")</th>
                    <th>@L("EmailAddress")</th>
                    <th ng-if="vm.isORM">@L("index_status")</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users | filter:flt | orderBy:'name'">
                    <td ng-if="vm.isORM">{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.emailAddress}}</td>
                    <td ng-if="vm.isORM">{{user.userType==null?'@L("index_status_activ")':'@L("index_status_contractor")'}}</td>
                    <td>
                        <button ng-if="!user.isActive && user.emailAddress!=vm.currentUser" class="btn btn-success blue" ng-click="vm.toggleSuspendedState(user)">@L("users_activate")</button>
                        <button ng-if="user.isActive  && user.emailAddress!=vm.currentUser" class="btn btn-danger blue" ng-click="vm.toggleSuspendedState(user)">@L("users_suspend")</button>
                    </td>
                    <td><button ng-click="vm.edit(user)" class="btn btn-primary blue"><i class="fa fa-pencil"></i>&nbsp;@L("users_detail")</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>