﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Schedule_Access_Codes")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div ng-repeat="(key, value)  in codes">
            <p>{{startDate(key) | date: "@L("DateTimeFormatAngular")"}} - {{endDate(key) | date: "@L("DateTimeFormatAngular")"}}: <b>{{value}}</b></p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">@L("Common_OK")</button>
    </div>
</div>