﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("schedule_details_title")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("schedule_start_date")</label>
            <div class="input-group date"
                 date-time-picker
                 format="@L("DateFormat")"
                 language="{{L.language}}"
                 ng-model="description.startDate"
                 ng-change="validate()">
                <input type="text" class="form-control">
                <span class="input-group-addon btn btn-default addon-inpt-background"><span class="fa fa-calendar"></span></span>
            </div>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("schedule_end_date")</label>
            <div class="input-group date"
                 date-time-picker
                 format="@L("DateFormat")"
                 language="{{L.language}}"
                 ng-model="description.endDate"
                 ng-change="validate()">
                <input type="text" class="form-control">
                <span class="input-group-addon btn btn-default addon-inpt-background"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("schedule_details_name")</label>
            <input type="text" class="form-control" ng-model="description.name" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("schedule_details_phone")</label>
            <input type="text" class="form-control" ng-model="description.phone" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("schedule_details_email")</label>
            <input type="text" class="form-control" ng-model="description.email" ng-change="validate()">
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("schedule_details_notes")</label>
            <input type="text" class="form-control" ng-model="description.notes" ng-change="validate()">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" class="btn btn-primary blue" ng-disabled="disableSave" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    </div>
</div>