﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("Error_Title")</span>
        </h4>
    </div>
    <div class="modal-body">
        <p>@L("Error_Body_date_to_old")</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">@L("Common_OK")</button>
    </div>
</div>