﻿@using RemoteLock.Web.Views
<div ng-controller="app.views.schedule.index">
    <div class="row" ng-if="!DisabledUI">
        <div class="col-md-12">
            <div style="margin-bottom: 20px; margin-left: 15px;">
                <label style="margin-top: 20px">@L("schedule_range")</label>
                <button class="btn btn-primary" ng-disabled="config.scale=='Day'" ng-click="scale('Day')">@L("Calendar_Day")</button>
                <button class="btn btn-primary" ng-disabled="config.scale=='Week'" ng-click="scale('Week')">@L("Calendar_Week")</button>
            </div>
            <div class="calendar_blue_wrap ng-cloak ng-hide" ng-hide="navigatorConfig==null">
                <div class="calendar_blue_wrap_inner">
                    <div>
                        <div>
                            <button ng-click="selectPrev()"><i class="fa fa-angle-left"></i></button>
                            <button class="pull-right" ng-click="selectNext()"><i class="fa fa-angle-right"></i></button>
                        </div>
                        <daypilot-scheduler id="dp" daypilot-config="config" daypilot-events="events"></daypilot-scheduler>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="DisabledUI">
        <div class="col-md-12">
            @L("DisabledForbossUser")
        </div>
    </div>
</div>