﻿@using RemoteLock.Web.Views
<div>
    <div style="font-weight: bold">{{tempObj.name}}</div>
    <div style="font-weight: bold">{{tempObj.email}}/{{tempObj.phone}}</div>
    <div>@L("schedule_start_date"): {{tempObj.start | date: "@L("DateFormatAngular")"}}</div>
    <div>@L("schedule_end_date"): {{tempObj.end | date: "@L("DateFormatAngular")"}}</div>  
</div>