﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("cancel_schedule")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("cancel_schedule_reason")</label>
            <input type="text" class="form-control" ng-model="model.cancelReason" ng-change="validate()">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" class="btn btn-primary blue" ng-disabled="disableSave" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Common_OK")</span></button>
    </div>
</div>