﻿@using RemoteLock.Web.Views
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("change_schedule")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("rooms_model_name")</label>
            <div class="input-group input-group-sm sweb-utils-cursor-hand" uib-dropdown uib-dropdown-toggle>
                <div class="form-control inpt-sm">{{rooms[roomIds.selected]}}</div>
                <ul class="dropdown-menu dropdown-menu-standard sweb-utils-dorpdown-limit" style="width: 100%">
                    <li ng-repeat="room in roomIds.list">
                        <a class="sweb-utils-cursor-hand" ng-click="roomIds.selected=room; validate()">
                            <span>{{rooms[room]}}</span>
                        </a>
                    </li>
                </ul>
                <span class="input-group-btn">
                    <button type="button" data-ng-click="opened=false" class="btn btn-primary"><i class="fa fa-caret-down sweb-utils-drop-down-btn"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">@L("Cancel")</button>
        <button type="submit" class="btn btn-primary blue" ng-disabled="disableSave" ng-click="save()"><i class="fa fa-save"></i> <span>@L("Common_OK")</span></button>
    </div>
</div>