﻿@using RemoteLock.Web.Views
<table class="table" id="toExportTable" ng-controller="app.views.report.schedule_result">
    <thead>
    <tr>
        <th>@L("rooms_model_name")</th>
        <th>@L("schedule_details_name")</th>
        <th>@L("schedule_details_phone")</th>
        <th>@L("schedule_details_email")</th>
        <th>@L("schedule_start_date")</th>
        <th>@L("schedule_end_date")</th>
        <th>@L("schedule_details_notes")</th>
        <th>@L("cancel_schedule_reason")</th>
        <th>@L("Menu_Report_State")</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="schedule in rows | orderBy:'start'">
        <td>{{rooms[schedule.resource]}}</td>
        <td>{{schedule.name}}</td>
        <td>{{schedule.phone}}</td>
        <td>{{schedule.email}}</td>
        <td>{{schedule.start | date: "@L("DateTimeFormatAngular")"}}</td>
        <td>{{schedule.end | date: "@L("DateTimeFormatAngular")"}}</td>
        <td>{{schedule.notes}}</td>
        <td>{{schedule.cancelReason}}</td>
        <td ng-if="showCancelButton(schedule)" style="white-space: nowrap">
            <button type="button" class="btn btn-danger" title="@L("Cancel")" ng-click="cancelSchedule(schedule)"><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-primary" title="@L("Change")" ng-click="changeSchedule(schedule)"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-primary" title="@L("codes_email")" ng-click="sendCodesOnEmail(schedule)"><i class="fa fa-mail-forward"></i></button>
        </td>
        <td ng-if="schedule.canceled">@L("schedule_canceled")</td>
        <td ng-if="showFirstFill(schedule)"></td>
    </tr>
        <tr>
            <td colspan="11">
                <button type="button" class="btn btn-primary blue pull-left" ng-disabled="!rows || rows.length==0" ng-click="exportToExcel('@Url.Action("ExportExcel","Export")','@Url.Action("Download","Export")',ReportName)"><i class="fa fa-file-excel-o"></i> <span>@L("Reports_ExportExcel")</span></button>
                <button type="button" class="btn btn-primary blue pull-right" ng-click="backToParameters()"><i class="fa fa-arrow-left"></i> <span>@L("Reports_ChangeParameters")</span></button>
            </td>
        </tr>
    </tbody>
</table>